version: '3.8'

services:
  backend:
    build:
      context: ./backend
    restart: always
    environment:
      - NODE_ENV=production
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=spor_galeri
    ports:
      - "8561:8561"  
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
    ports:
      - "8560:80"
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=spor_galeri
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3605
      - PMA_USER=root
      - PMA_PASSWORD=
    ports:
      - "5283:80"  
    depends_on:
      - mysql

volumes:
  mysql_data: