
 @keyframes wave {
   0% { transform: translateX(-50%) rotate(0deg); }
   50% { transform: translateX(-50%) rotate(180deg); }
   100% { transform: translateX(-50%) rotate(360deg); }
 }
 .animate-wave {
   animation: wave 15s infinite linear;
 }